tex-register {
  text-decoration: none;
}
.text-register:hover {
  color: #816646 !important;
}

.sign-up__div {
  max-width: 526px;
}

.signup-button {
  color: #ffffff !important;
  background-color: #816646 !important;
}
